/* our infrastructure =

.class{

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  width: auto;
  height: auto;

}
.subClass{

  align-self: flex-start;

}

@media only screen and (max-width: $portraitSize) {

}

 */
@font-face {
  font-family: Vazir;
  src: url("../../fonts/Vazir.ttf");
}
@font-face {
  font-family: VazirBold;
  src: url("../../fonts/Vazir-Bold.ttf");
}
html, body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: 100%;
  font-family: Vazir, sans-serif;
  text-align: center;
}

.menuBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  overflow: visible;
  height: auto;
  width: 100%;
  padding-bottom: 7px;
  font-family: VazirBold, sans-serif;
}
@media only screen and (max-width: 885px) {
  .menuBar {
    flex-flow: column wrap;
  }
}
.menuBar .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  font-size: 20px;
}
.menuBar .logo .logoText1 {
  color: #F81E1E;
}
.menuBar .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu {
    flex-flow: column wrap;
  }
}
.menuBar .menu .menuItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  margin-left: 17px;
  margin-right: 17px;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu .menuItem {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.menuBar .menu .menuSpecialItem {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu .menuSpecialItem {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.menuBar .menu .menuItemText {
  text-decoration: none;
  color: black;
}
.menuBar .menu .menuItemText:hover {
  color: #F81E1E;
}
.menuBar .menuSpecialItemShape {
  border-radius: 5px;
  padding: 0 5px 0 5px;
  background-color: #F81E1E;
  color: white;
}
.menuBar .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
}
.menuBar .buttonsItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 885px) {
  .menuBar .buttonsItem {
    margin: 40px;
  }
}

.content1 {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  height: 710px;
  width: 100%;
  background-color: #F0F0F2;
}
@media only screen and (max-width: 885px) {
  .content1 {
    flex-flow: column wrap;
    height: auto;
    padding-bottom: 100px;
  }
}

.content1-1-image {
  width: 38vw;
  height: 44.5vw;
}
@media only screen and (max-width: 885px) {
  .content1-1-image {
    width: 50vw;
    height: 58.6vw;
  }
}

.content1-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  width: 44vw;
  height: auto;
}
@media only screen and (max-width: 885px) {
  .content1-2 {
    align-items: center;
  }
}

.content1-2-text1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  width: auto;
  height: auto;
  color: #0B1C39;
  font-size: 4vw;
  font-family: VazirBold, sans-serif;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text1 {
    margin-right: 0;
  }
}

.content1-2-text2 {
  color: #2D2038;
  direction: rtl;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text2 {
    margin-right: 0;
  }
}

.content1-2-text3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  width: 7rem;
  height: 2.8rem;
  background-color: #4A4A4B;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 50px;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text3 {
    margin-right: 0;
  }
}

.content2 {
  width: 100%;
}
.content2 h2 {
  float: right;
  margin: 1em;
}

.listOfNewArrivals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.listOfNewArrivals .listOfNewArrivals-commodity {
  display: flex;
  flex-direction: column;
}
.listOfNewArrivals .listOfNewArrivals-commodity .listOfNewArrivals-commodity__image {
  height: 60vh;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px -2px #777;
  -moz-box-shadow: 5px 5px 10px -2px #777;
  box-shadow: 5px 5px 10px -2px #777;
  margin-bottom: 2em;
}
.listOfNewArrivals .listOfNewArrivals-commodity .listOfNewArrivals-commodity__price {
  color: #F81E1E;
  margin-top: 0;
}
.listOfNewArrivals .listOfNewArrivals-commodity .listOfNewArrivals-commodity__price .toman {
  font-size: 10px !important;
}

@media only screen and (max-width: 885px) {
  .listOfNewArrivals {
    flex-direction: column;
    align-items: center;
  }
  .listOfNewArrivals .listOfNewArrivals-commodity__image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 885px) {
  .gallery {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    flex-wrap: nowrap;
  }
  .gallery img {
    margin: 0.5em;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px #777;
    -webkit-box-shadow: 2px 2px 5px 0px #777;
    -moz-box-shadow: 2px 2px 5px 0px #777;
  }
  .gallery .gallery__image1 {
    height: 100%;
    width: 50%;
  }
  .gallery .gallery__image2 {
    height: 70vh;
    width: 25%;
  }
  .gallery .gallery__images {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .gallery .gallery__image3 {
    height: 34vh;
  }
  .gallery .gallery__image4 {
    height: 34vh;
  }
}
@media only screen and (max-width: 885px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .gallery img {
    height: 30vh;
    width: 90%;
    margin: 1em;
    border: 10px !important;
    object-fit: cover;
    box-shadow: 1px 1px 4px 0px #777;
    -webkit-box-shadow: 1px 1px 4px 0px #777;
    -moz-box-shadow: 1px 1px 4px 0px #777;
  }
}
@media only screen and (min-width: 885px) {
  .popularItems .popularItems__title h2 {
    margin-bottom: 0.4em;
  }
  .popularItems .popularItems__title p {
    color: #777;
    font-size: 12px;
    width: 50%;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .popularItems .popularItems-items {
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .popularItems .popularItems-items__item {
    height: 50%;
    display: flex;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 885px) {
  .popularItems .popularItems__title h2 {
    margin-bottom: 0.4em;
  }
  .popularItems .popularItems__title p {
    color: #777;
    font-size: 12px;
    width: 90%;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

/*# sourceMappingURL=app.css.map */
