@font-face {
  font-family: Vazir;
  src: url("../../fonts/Vazir.ttf");
}
@font-face {
  font-family: VazirBold;
  src: url("../../fonts/Vazir-Bold.ttf");
}
html, body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: 100%;
  font-family: Vazir, sans-serif;
  text-align: center;
}

.menuBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  overflow: visible;
  height: auto;
  width: 100%;
  padding-bottom: 7px;
  font-family: VazirBold, sans-serif;
}
@media only screen and (max-width: 885px) {
  .menuBar {
    flex-flow: column wrap;
  }
}
.menuBar .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  font-size: 20px;
}
.menuBar .logo .logoText1 {
  color: #F81E1E;
}
.menuBar .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu {
    flex-flow: column wrap;
  }
}
.menuBar .menu .menuItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  margin-left: 17px;
  margin-right: 17px;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu .menuItem {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.menuBar .menu .menuSpecialItem {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 885px) {
  .menuBar .menu .menuSpecialItem {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.menuBar .menu .menuItemText {
  text-decoration: none;
  color: black;
}
.menuBar .menu .menuItemText:hover {
  color: #F81E1E;
}
.menuBar .menuSpecialItemShape {
  border-radius: 5px;
  padding: 0 5px 0 5px;
  background-color: #F81E1E;
  color: white;
}
.menuBar .buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;
}
.menuBar .buttonsItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 885px) {
  .menuBar .buttonsItem {
    margin: 40px;
  }
}

.content1 {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  height: 710px;
  width: 100%;
  background-color: #F0F0F2;
}
@media only screen and (max-width: 885px) {
  .content1 {
    flex-flow: column wrap;
    height: auto;
    padding-bottom: 100px;
  }
}

.content1-1-image {
  width: 38vw;
  height: 44.5vw;
}
@media only screen and (max-width: 885px) {
  .content1-1-image {
    width: 50vw;
    height: 58.6vw;
  }
}

.content1-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  width: 44vw;
  height: auto;
}
@media only screen and (max-width: 885px) {
  .content1-2 {
    align-items: center;
  }
}

.content1-2-text1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  width: auto;
  height: auto;
  color: #0B1C39;
  font-size: 4vw;
  font-family: VazirBold, sans-serif;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text1 {
    margin-right: 0;
  }
}

.content1-2-text2 {
  color: #2D2038;
  direction: rtl;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text2 {
    margin-right: 0;
  }
}

.content1-2-text3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  width: 7rem;
  height: 2.8rem;
  background-color: #4A4A4B;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 50px;
  margin-right: 3vw;
}
@media only screen and (max-width: 885px) {
  .content1-2-text3 {
    margin-right: 0;
  }
}

.content2 {
  margin-top: 10em;
  width: 100%;
  overflow: hidden;
}
.content2 .content2-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
  width: 100%;
  height: auto;
  font-family: VazirBold, sans-serif;
  font-size: 25px;
  margin-bottom: 5rem;
  margin-right: 7vw;
}
@media only screen and (max-width: 885px) {
  .content2 .content2-title {
    justify-content: center;
    margin-right: 0;
  }
}

.listOfNewArrivalsFather {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  width: auto;
  height: auto;
  padding-right: 7vw;
  padding-left: 7vw;
  margin-bottom: 100px;
}

.listOfNewArrivals {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #444444;
  font-family: VazirBold, sans-serif;
}
.listOfNewArrivals .listOfNewArrivals-commodity {
  display: flex;
  flex-direction: column;
}

.listOfNewArrivals-commodity__image {
  width: 25vw;
  height: 34vw;
  margin-bottom: 2em;
}

.listOfNewArrivals-commodity__price {
  color: #F81E1E;
  margin-top: 0;
}
.listOfNewArrivals-commodity__price .toman {
  font-size: 10px !important;
}

@media only screen and (max-width: 885px) {
  .listOfNewArrivals {
    flex-direction: column;
    align-items: center;
  }
  .listOfNewArrivals .listOfNewArrivals-commodity__image {
    width: 40vw;
    height: 54vw;
  }
}
@media only screen and (min-width: 885px) {
  .gallery {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 100px;
  }
  .gallery img {
    margin: 0.5em;
    object-fit: cover;
  }
  .gallery .gallery__image1 {
    height: 100%;
    width: 50%;
  }
  .gallery .gallery__image2 {
    height: 70vh;
    width: 25%;
  }
  .gallery .gallery__images {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .gallery .gallery__image3 {
    height: 34vh;
  }
  .gallery .gallery__image4 {
    height: 34vh;
  }
}
@media only screen and (max-width: 885px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }
  .gallery img {
    height: 30vh;
    width: 90%;
    margin: 1em;
    border: 10px !important;
    object-fit: cover;
  }
}
.content4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.popularItems__title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  width: auto;
  height: auto;
  margin-right: 7vw;
  margin-left: 7vw;
}

.popularItems__title-1 {
  font-family: VazirBold, sans-serif;
  font-size: 25px;
}

.popularItems__title-2 {
  color: #444444;
}

.popularItems-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  overflow: visible;
  width: auto;
  height: auto;
  margin-right: 7vw;
  margin-left: 7vw;
}
@media only screen and (max-width: 885px) {
  .popularItems-items {
    flex-flow: column nowrap;
  }
}

.popularItems-items__item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible;
  width: auto;
  height: auto;
  margin-top: 2vw;
  margin-bottom: 4vw;
}
.popularItems-items__item .popularItems-items__image {
  width: 25vw;
  height: 32vw;
  border-bottom: 3px solid #F81E1E;
}
.popularItems-items__item .popularItems-items__item-p1 {
  font-family: VazirBold, sans-serif;
  font-size: 18px;
}
.popularItems-items__item .popularItems-items__item-p2 {
  color: #444444;
}

.containerOfChoices {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.containerOfChoices .containerOfChoices-choice {
  margin: 5em 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__image {
  width: 50%;
  height: 50vh;
  object-fit: cover;
}
.containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__detail {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__detail .containerOfChoices-choice__detail__titile {
  font-weight: bold;
  font-size: 2em;
}
.containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__detail .containerOfChoices-choice__detail__btn {
  background: #ff2020;
  align-self: flex-end;
  text-decoration: none;
  color: white;
  width: 8em;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 28px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  margin: 10px;
}
.containerOfChoices .one {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 885px) {
  .containerOfChoices {
    align-items: center;
  }
  .containerOfChoices .containerOfChoices-choice {
    flex-direction: column;
    align-items: center;
  }
  .containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__image {
    width: 90%;
  }
  .containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__detail {
    width: 90%;
    align-items: center;
  }
  .containerOfChoices .containerOfChoices-choice .containerOfChoices-choice__detail .containerOfChoices-choice__detail__btn {
    align-self: center;
  }
}

/*# sourceMappingURL=app.css.map */
