html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: sans-serif;
}
.headerPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleHeader{
  width: 100%;
  padding: 0.5em 1em;
  background-color: #CCCCCC;
  margin: 0;
}
.menuBar {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
}

.menuItems {
  font-family: sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px){
  .menuBar{
    height: 30px;
    flex-direction: row;
  }
  .menuItems{
    font-size: 14px;
    border-right:1px solid white ;
    padding: 0 3px;
  }
  .inside{
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  .leftContent{
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .menuBar{
    flex-direction: column;
    width: 90%;
    padding: 0.5em;
    margin: 0.5em;
  }
  .menuItems{
    padding: 7px 0;
  }
  .inside{
    padding: 1em;
  }
}