<div class="wrapper">
    <form action="/additem" method="POST" class="wrapper__formInputItem">
        <input type="text" name="name">
        <input type="number" name="price">
        <input type="submit" name="submit">
    </form>
</div>