/* our infrastructure =

.class{

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: auto;

}
.subClass{

  align-self: flex-start;

}

 */

@font-face {
  font-family: Vazir;
  src: url('../../fonts/Vazir.ttf');
}
@font-face {
  font-family: VazirBold;
  src: url('../../fonts/Vazir-Bold.ttf');
}

$mainColor : #F81E1E;

html, body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  overflow: visible;
  height: auto;
  width: 100%;

  font-family: Vazir, sans-serif;
  text-align: center;
}

.menuBar{
  display: flex;
  flex-flow: row wrap;
  @media only screen and (max-width: 800px) {
    flex-flow: column wrap;
  }
  justify-content: space-around;
  align-items: center;
  align-content: center;
  overflow: visible;
  height: auto;
  width: 100%;

  font-family: VazirBold, sans-serif;

  .logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    overflow: visible;
    height: auto;
    width: auto;

    font-size: 20px;

    .logoText1{
      color: $mainColor;
    }
  }
  .menu{
    display: flex;
    flex-flow: row wrap;
    @media only screen and (max-width: 800px) {
      flex-flow: column wrap;
    }
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    overflow: visible;
    height: auto;
    width: auto;

    .menuItem{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
      overflow: visible;
      height: auto;
      width: auto;

      margin-left: 17px;
      margin-right: 17px;
    }
  }
  .buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    overflow: visible;
    height: auto;
    width: auto;

  }
}